coverage
packages/*/build
packages/docs/props.json

yarn-debug.log*
yarn-error.log*

*.tsbuildinfo

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

.DS_Store

.env

__pycache__/
